[user]
	name = Andre Aubin
	email = andre@andral.kiwi
	signingkey = B154C3645DF49759
[push]
	default = simple
[alias]
	poule = pull
	pool = pull
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	gpgsign = false
[pull]
	default = current
